body {
  font: 18px Times, Serif;
  line-height: 1.4em;
}

h1 {
  font-size: 2em;
}

main {
  margin: 22px 36px;
  width: 280px;
}

div {
  padding: 36px;
  border: 2px black solid;
  margin: 20px 0px;
}

.duckleft {
  background-image: url("img/duck.png");
  background-repeat: no-repeat;
  background-position: left;
}

.duckcenter {
  background-image: url("img/duck.png");
  background-repeat: no-repeat;
  background-position: center;
}

.duckbottomright {
  background-image: url("img/duck.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
