<!DOCTYPE html>
<html ng-app="catFinder3000">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>*** Awesone Cat GIFs! ***</title>
    <script src="./app/angular.min.js"></script>
    <script src='./app/app.js'></script>
  </head>
  <body class="flexy-base">
    <h1>*** Awesome Cat GIF Finder ***</h1>
    <main class="flexy-base">
      <section class='gif_display'>
        <img id='main_gif' src='http://i.giphy.com/o0vwzuFwCGAFO.gif'>
      </section>
      <section class="inputfield flexy-base">
        <label for="query">What kind of cats are you looking for?</label><input ng-model="catQuery" type="text" name="query">
        <button ng-click="">Get me felines!</button>
        <button>Not for my liking, show moar.</button>
        <button>Back</button>
        <p>You are looking for {{catQuery}} cats.</p>
      </section>
      <section ng-controller="renderCats">
        <h4>These are the finds:</h4>
        <div class="thumblist-display-wrapper">
          <img class="catgif-thumb" ng-repeat="catGif in imageData" src="{{catGif.thumb}}">
        </div>
    </section>

    </main>
    <footer>
      GreenFox Zerda Lasers BloodStone, 2017
    </footer>
  </body>
</html>
