body {

  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  margin: 0 auto;
}

img.thumbnail {
  padding: 10px;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
}

.gif_display {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  background: grey;
}

#thumbs {
  width: 480px;
}

.flexy-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
