body {

  background: linear-gradient(135deg, #c5c5c5, #f4f4f4, #f4f4f4 60%, #c5c5c5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  width: 80%;
  height: 70%;

  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.main-image {
  /* the image viewer */
  /* background-image: url('./src/joshua-tree-national-park-74399_1280.jpg'); */
  background-size: cover;
  background-position: center;
  flex-grow: 10;
  display: flex;
  align-items: flex-end;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  flex-grow: 1;
}

.side-nav {
  flex-grow: 1;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-right {
  transform: rotate(180deg);
}

.side-nav-button-image {
  width: 20px;
  height: 20px;
}

nav {
  width: 80%;
  height: 15%;
  border: 1px dotted black;
  display: flex;
  align-items: center;
  justify-content: center;;
}

.image-thumbnail-bar {
  /* style this */
}

.thumbnail {
  background-image: url('./images/joshua-tree-national-park-74399_1280.jpg');
  background-size: cover;
  width: 44px;
  height: 44px;

  margin: 4px;
}
