/* Week-02 Day-02 Tuesday, === Exercise: FORM =*/

/* Layout */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #DCD6CD;
  color: #4A4261;
  width: 820px;
  height: 1000px;
  margin: 0 auto;
}

h1 {
  font-weight: 200;
}

h2 {
  display: block;
  background-color: #938C97;
  color: white;
  font-weight: 200;
}

a {
  color: #626262;
}

/* Form elements */

form {
  width: 620px;
  margin: 50px 100px;
}

textarea {
  width: 100%;
  height: 166px;
}

input:not([type="checkbox"]) {
  display: block;
  width: 100%;
}

input[id="nem"] {
  display: line-block;
}

label[for="nem"] {
  display: line-block;
}

/* Flex tools */

.flex-container 

.flex-container {
  display: flex;
  justify-content: space-between;
  border: 2px dotted purple;
}

.flex-item {
  flex-grow: 1;
  border: 2px dotted gold;
}

/* Buttons at the end */
.button-box {
  display: flex;
}
.button {
  flex-grow: 0;
  width: 20%;
}

/* --- COLORS ---

Submit button colors:
Top: #52496B
Bottom: #352F46

Pale text colors:
Link: #626262
Hint: #DCD6CD
Placeholder: #999999;

*/
