body {
  font: 18px Times, Serif;
  line-height: 1.4em;
}

h1 {
  font-size: 2em;
}

/* I had no idea how wide
these objects should be.

+ Linux renders fonts a bit
differently.
*/

main {
  margin: 22px 32px;
  width: 360px;
}

div {
  padding: 18px;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  border-left: 2px black solid;
}

div:hover {
  background-color: #EC6842;
}
