/*
===================================

  *** Project: Wikipedia Page ***

          le Stylesheet

===================================
*/

/* MAIN STRUCTURE and format */

body {
  display: flex;
}

@font-face {
  font-family: 'Liberation Regular';
  src: url(liberation-serif.regular.ttf);
}

main {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
}

aside {
  order: 1;
  background-color: #F6F6F6;
}

article {
  background-color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding-left: 24px;
}

a {
  text-decoration: none;
  color: #144fb1;
}

/* FORMATTING ELEMENTS */


/* - Inside main */

.main-header {
  flex-grow: 1;
  background-image: linear-gradient(white 60%, #F6F6F6);
}

.page-header-toolbox {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.page-header-toolbox > * {
  display: inline-block;
  padding: 1px 8px;
}

input[type="text"] {
  margin: 2px;
  border-radius: 1;
}
/* ARTICLE area */

/* Article header tabs */

.article-tab-header {
  font-family: 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  border-bottom: 1px solid #87ceeb;
}

.article-tab-header-group {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  border-right: 1px solid #87ceeb;
}

.article-tab-header-group-wrapper {
  display: flex;
}

.searchfield {
  flex-grow: 1;
}

.article-tab-header a {
  display: inline-block;
  padding: 5px 2px;
  border-left: 1px solid #87ceeb;
}

.article-tab-header-active-tab {
  background-image: linear-gradient(white, #e8f2f8);
}

/* Article content */

h1 {
  font-family: 'Liberation Regular', serif;
  font-size: 29px;
  font-weight: 200;
  border-bottom: 1px black solid;
  padding-bottom: 4px;
}

h2 {
  font-family: 'Liberation Regular', serif;

}

.article-lead {
  float: left;
}

/* Article infobox and navbox */

figure {
  border: 1px solid #AAAAAA;
}

figcaption {
  text-align: center;
}

.article-infobox {
  background-color: #F9F9F9;
  float: right;
  line-height: 18px;
  width: 271px;
}

.article-infobox img {
  padding: 0px 25px;
  width: 220px;
  margin: 0 auto;
}

.article-infobox table {
  font-size: 12px;
  line-height: 18px;
  padding: 2px 2px;
}

.article-infobox th, td {
  vertical-align: top;
  text-align: left;
}

.article-infobox h3 {
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  margin: 10px;}

/* Article navbox */

.article-navbox {

  width: 123px;
  border: 1px solid #AAAAAA;
  background-color: #F6F6F6;
}

/* Article image */

.article-image {
  background-color: #F9F9F9;
  float: right;
}

.article-image img {
  width: 224px;
}


/* - Page Sidebar - */

.page-logo img {
  width: 128px;
}
