/*
===================================

  *** Project: Wikipedia Page ***

          le Stylesheet

===================================
*/

/* MAIN STRUCTURE and format */

body {
  display: flex;
  background-image: linear-gradient(white,  #F6F6F6 80px);
  margin: 0;

}

@font-face {
  font-family: 'Liberation Regular';
  src: url(liberation-serif.regular.ttf);
}

main {
  order: 2;
  display: flex;
  flex-wrap: wrap;
}

article {
  background-color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding: 20px 24px 24px;
  border-left: 1px solid #87ceeb;
  border-bottom: 1px solid #87ceeb;
}


a {
  text-decoration: none;
  color: #144fb1;
}

/* FORMATTING ELEMENTS */


/* - Inside main */

.main-header {
  flex-grow: 1;
}

.page-header-toolbox {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 0 16px 15px 0;
}

.page-header-toolbox > * {
  display: inline-block;
  padding: 10px 0px 0px 9px;
}

.page-header-toolbox span {
  color: #777777;
}


/* ARTICLE area */

/* Article header tabs */

.article-tab-header {
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 39px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

.article-tab-header-group {
  display: flex;
  flex-wrap: nowrap;
  border-right-width: 1px;
  border-right-style: solid;
  border-image: linear-gradient(white, #87ceeb) 1 100%;
}

.article-tab-header-group-wrapper {
  display: flex;
}

.searchfield {
  flex-grow: 1;
}

input[type="text"] {
  margin: 9px 16px 5px 9px;
  padding: 6px 5px 3px 3px;
  background: linear-gradient(#F6F6F6, red);
  background-image: url(./images/search.png);
  background-repeat: no-repeat;
  background-position: center right 5px;
  border: 1px solid #AAA;

  /* The magnifying glass icon is not its bg, it's a button. So it's a different input (submit). */
}

.article-tab-header a {
  display: inline-block;
  padding: 15px 5px;
  border-width: 1px;
  border-left-style: solid;
  border-image: linear-gradient(white, #87ceeb) 1 100%;
}

.article-tab-header-active-tab {
  background-image: linear-gradient(RGBA(0, 0, 0, 0), white);
  color: black;
}

.article-tab-header-inactive-tab {
  background-image: linear-gradient(RGBA(0, 0, 0, 0), #e8f2f8);
}


/* Article content */

.article-header-subtitle {
  font-size: 13px;
  line-height: 21px;
  margin: 3px 0px 16.4px;
}

.article-header-disambiguation {
  margin: 0px 0px 7px 22.4px;
  font-style: italic;
}

h1 {
  font-family: 'Liberation Regular', serif;
  font-size: 29px;
  line-height: 37px;
  font-weight: 200;
  border-bottom: 1px #aaaaaa solid;
  margin: 0 0 7.2px;
}

/* Article infobox and navbox */

figure {
  border: 1px solid #AAAAAA;
  text-align: center;
}

figcaption {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.article-infobox {
  background-color: #F9F9F9;
  float: right;
  line-height: 18px;
  width: 269px;
  margin: 0 0 6.2px 12px;
}

.article-infobox img {
  padding: 0px 25px;
  width: 220px;
  margin: 0 auto;
}

.article-infobox table {
  font-size: 12px;
  line-height: 18px;
  padding: 2px 3px;
  margin: 5px 0px 1px;
}

.article-infobox tr {
  padding: 0px 3px;
}

.article-infobox th, td {
  vertical-align: top;
  text-align: left;
}

.article-infobox h3 {
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  margin: 6px 0px 5px;}

.clear-floats-both {
  clear: both;
}

/* Article navbox */

.article-navbox {

  width: 123px;
  border: 1px solid #AAAAAA;
  background-color: #F6F6F6;
}

/* Article sections */

section h2 {
  font-family: 'Liberation Regular', serif;
  font-weight: lighter;
  font-size: 21px;
  line-height: 27px;
  margin: 21px 0 5.250px;
  border-bottom: 1px #aaaaaa solid;
  overflow: hidden;
}

section p {
  color: #2E2E2E;
}

/* Article image */

.article-image {
  background-color: #F9F9F9;
  float: right;
}

.article-image img {
  width: 221px;
}


/* - Page Sidebar - */

.page-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0px 12px 0px;
}

.page-sidebar-nav {
  width: 176px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #5e5e5e;
}

.page-sidebar-nav section {
  margin: 0px 16px 0px 28px;
  padding: 5px 0 5px;
  border-bottom: 1px solid #d8d8d8;
}

.page-sidebar-nav a {
  display: block;
}

.page-sidebar-nav ul {
  padding-left: 16px;
  list-style-type: none;
  margin: 0;
}
