/*
===================================

  *** Project: Wikipedia Page ***

          le Stylesheet

===================================
*/

/* MAIN STRUCTURE and format */

body {
  background-color: #F6F6F6;
  display: flex;
}

main {
  order: 2;
  display: flex;
  flex-wrap: wrap;
}

aside {
  order: 1;
}

article {
  background-color: white;
}

/* FORMATTING ELEMENTS */

/* - Inside main */

.page-header-toolbox {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

/* Article area */

/* Article header tabs */

.article-tab-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article-tab-header-placeholder {
  flex-grow: 1;
  background-color: #F9F9F9;
}

.article-tab-header-searchfield-bg {
  flex-grow: 1;
  background-color: #F9F9F9;
}


.article-tab-header section {
  display: flex;
  flex-wrap: nowrap;
}

/* Article content */
.article-infobox {
  background-color: #F9F9F9;
}

.article-infobox img {
  width: 220px;
}

.article-image {
  background-color: #F9F9F9;
  float: right;
}

.article-image img {
  width: 224px;
}


/* - Aside */

.page-logo img {
  width: 125px;
}

.page-header-toolbox {
}
